*{
    box-sizing: border-box;  
}
.d-fb {
    display: flex;
}

.f-r {
    font-family: "Raleway", Tahoma, sans-serif;    
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@dark: #08080c;
@red: #ff0036;
@white: #ffffff;
@grey: #a4a4a4;
@dark-grey: #131313;

li:hover {
   cursor: pointer;
}

@media (min-width: 768px) {

    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
  
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }
}

.header {

    &-nav {
        height: 70px;
        background: @dark;
        
        .container {
            justify-content: space-between;
            height: 100%;
        }

        &-logo {
            flex-basis: content;
            height: 105px;
            width: 250px;
            border: 2px solid @red;
            background: @dark-grey;
            justify-content: space-around;
            align-items: center;

            img {
                height: 25px;
                width: 120px;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        &-menu {
            flex-basis: 75%;

            & ul {
                flex-basis: 100%;
                justify-content: space-around;
                align-items: center;
            }

            &-li {
                list-style-type: none;
                font-size: 18px;
                font-weight: 400;
                color: @grey;
                text-transform: uppercase;

                &:hover {
                    color: white;

                    &::before {
                        content: "";
                        display: block;
                        width: 50%;
                        height: 3px;
                        transform: scaleX(1);
                        background-color: @red;
                        transition: all 0.2s;
                        margin-left: 25%;
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        width: 50%;
                        height: 3px;
                        transform: scaleX(1);
                        background-color: @red;
                        transition: all 0.2s;
                        margin-left: 25%;                    
                    }
                }
            }
        }
    }

    &-slider {

        img{
            width: 100%;
            height: 630px;
        }
    }
}